@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Done https://github.com/codingkapur/coming-soon */


/* body{
    background-image: url(./images/bg-stars.svg), url(./images/pattern-hills.svg);
    background-color: hsl(235, 16%, 14%);
    background-position: left top, 0 bottom;
    background-repeat: repeat, no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;
    
} */

body {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: hsl(235, 16%, 14%);
}
body::before {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/bg-stars.svg");
    content: '';
    position: fixed;
    top: 0;
    z-index: 100;
}

body::after {
    background: url("./images/pattern-hills.svg") no-repeat bottom;
    content: '';
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    z-index: 100;

}

h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 2.5em;
    text-align: center;
    color: #fff;
    padding-bottom: 2rem;
}

.time-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.big-text {
    font-weight: 700;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    color: hsl(345, 95%, 68%);
    
}
/* .big-text::before,
.big-text::after {
    content: '';
    flex: 1 1;
    box-decoration-break: slice;
    margin: auto;
} */

.time-el {
    text-align: center;
    background-color: hsl(236, 21%, 26%);
    z-index: 200;
}

.days-c {
    background: linear-gradient(
    to bottom, 
    hsl(236, 21%, 26%) 0%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 100%
  );
  margin: 1rem;
  
}

.hours-c {
    background: linear-gradient(
    to bottom, 
    hsl(236, 21%, 26%) 0%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 100%
  );
  margin: 1rem;
}

.mins-c {
    background: linear-gradient(
    to bottom, 
    hsl(236, 21%, 26%) 0%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 100%
  );
  margin: 1rem;
}

.seconds-c {
    background: linear-gradient(
    to bottom, 
    hsl(236, 21%, 26%) 0%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 50%, 
    hsl(236, 21%, 26%) 100%
  );
  margin: 1rem;
}

.time-el span {
    position: absolute;
    display: flex;
    font-size: 1rem;
    letter-spacing: 4px;
    color: hsl(237, 18%, 59%);
}

.time-el .box {
    display: flex;
    background-color: linear-gradient(0deg, var(--neutral-blue) 49.5%, #292941 50%, #2c2c44 50.5%);
    position: relative;
    padding: .7rem;
    min-height: 2em;
    min-width: 2em;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0.5rem var(--neutral-darkblue);
    opacity: 20;
}

.time-el .box::after,
.time-el .box::before {
    background-color: var(--neutral-blackblue);
    height: 10px;
    width: 10px;
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
}

.time-el .box::after {
    left: -5px;
    bottom: 70px;
    background-color: black;
}

.time-el .box::before {
    right: -5px;
    bottom: 70px;
    background-color: black;
}

span#days-d {
    width: 100%;
    text-align: center;
    padding-left: 4rem;
    line-height: 70px;
}


span#hours-h {
    width: 100%;
    padding-left: 1.6rem;
    line-height: 70px;
}

span#mins-m {
    width: 100%;
    padding-left: 1.5rem;
    line-height: 70px;
}

span#seconds-s {
    width: 100%;
    padding-left: 1.9rem;
    line-height: 70px;
}

.desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    letter-spacing: 2px;
}

.desc span {
    display: flex;
    margin: 4rem;
    margin-top: 2rem;
    padding-left: .75rem;
    color: gray;
}

footer {
    /* position: fixed;
    bottom: 0;
    right: 100rem;
    padding-top: auto;
    z-index: 2000;  */

    position: absolute;
    height: 100px;
    bottom: 0;
    z-index: 200;
}

.social {
    margin-left: 1rem;
    text-align: center;
    width: max-content;
}

.social a {
    padding: 2px;
}
/* a {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

a img {
    padding-top: 1rem;
    padding-left: 1rem;
    margin: auto;
} */

a#facebook {
    padding: 1rem;
}

a#pinterest {
    padding: 1rem;
}

a#instagram {
    padding: 1rem;
}
.attribution {
    margin-top: 1rem;
    padding-top: 1rem;
}

.attribution a {
    color: hsl(345, 95%, 68%);
    
}

.social .fab {
    transition: ease color .3s;
}

.social .fab:hover {
    background-color: hsl(345, 95%, 68%);
  }

@media screen and (min-width: 520px){
    .time-el .box {
        font-size: 2.5rem;
    }
    
}

@media screen and (min-width: 720px){
    .time-el .box {
        font-size: 5rem;
    }
    
}